@charset "UTF-8";

/*  
    Em HTML id = Em CSS # 
    Em HTML class = Em CSS .
    : significa pseudo-classe.
    :: significa pseudo-elemento
*/

body {
    background-color: rgb(201, 244, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #0ab2ff;
}

h1#principal {
    text-align: center;
    color: #59e7f1;
    background-color: #5366E0;
    
}

h2 {
    color: #5584ca;
}

.basico {
    background-color: rgba(0, 255, 0, 0.37);
}

.intermediario {
    background-color: rgba(255, 255, 0, 0.349);
}

.avancado {
    background-color: rgba(255, 0, 0, 0.37);
}

